In [7]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression

data = pd.read_csv('height_data_cleaned.csv')

In [8]:
data

        FH   FR     MH   MR     CH   CG  NU
0    180.3  0.0  165.1  0.0  167.6  1.0   0
1    180.3  0.0  167.6  0.0  190.5  0.0   0
2    177.8  1.0  165.1  1.0  170.2  0.0   0
3    177.8  0.0  170.2  0.0  177.8  0.0   0
4    160.0  2.0  154.4  2.0  167.6  0.0   0
..     ...  ...    ...  ...    ...  ...  ..
314  181.0  0.0  162.0  0.0  179.0  0.0   0
315  175.0  0.0  158.0  0.0  163.0  1.0   0
316  178.0  0.0  162.0  0.0  160.0  1.0   0
317  168.0  0.0  173.0  0.0  158.0  1.0   0
318  168.0  2.0  161.0  2.0  173.0  1.0   1

[319 rows x 7 columns]

In [18]:
##get the values as
#x, y, X_new

X=data[['FH','FR','MH','MR','CG','NU']]
Y=data[['CH']]

In [19]:
XX=X.multiply(X)

In [31]:

XX.columns = [str(col) + '_Squared' for col in XX.columns]

In [32]:
X2=pd.concat([X,XX],axis=1)

In [33]:
X2

,FH,FR,MH,MR,CG,NU,FH_x_Squared,FR_x_Squared,MH_x_Squared,MR_x_Squared,CG_x_Squared,NU_x_Squared
0,180.3,0.0,165.1,0.0,1.0,0,32508.09,0.0,27258.01,0.0,1.0,0
1,180.3,0.0,167.6,0.0,0.0,0,32508.09,0.0,28089.76,0.0,0.0,0
2,177.8,1.0,165.1,1.0,0.0,0,31612.84,1.0,27258.01,1.0,0.0,0
3,177.8,0.0,170.2,0.0,0.0,0,31612.84,0.0,28968.04,0.0,0.0,0
4,160.0,2.0,154.4,2.0,0.0,0,25600.00,4.0,23839.36,4.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
314,181.0,0.0,162.0,0.0,0.0,0,32761.00,0.0,26244.00,0.0,0.0,0
315,175.0,0.0,158.0,0.0,1.0,0,30625.00,0.0,24964.00,0.0,1.0,0
316,178.0,0.0,162.0,0.0,1.0,0,31684.00,0.0,26244.00,0.0,1.0,0
317,168.0,0.0,173.0,0.0,1.0,0,28224.00,0.0,29929.00,0.0,1.0,0
318,168.0,2.0,161.0,2.0,1.0,1,28224.00,4.0,25921.00,4.0,1.0,1

In [42]:
xDif=X['MH'].subtract(X['FH'])

In [43]:
type(xDif)

pandas.core.series.Series

In [44]:
xDist=xDif.abs()

In [49]:
xTallerParent=xDif.divide(xDist)

In [54]:
Xtemp=pd.concat([xDist,xTallerParent],axis=1)

In [59]:
Xtemp

        0    1
0    15.2 -1.0
1    12.7 -1.0
2    12.7 -1.0
3     7.6 -1.0
4     5.6 -1.0
..    ...  ...
314  19.0 -1.0
315  17.0 -1.0
316  16.0 -1.0
317   5.0  1.0
318   7.0 -1.0

[319 rows x 2 columns]

In [68]:
Xtemp.columns=["Distance","TallerParent"]

In [73]:
Xtemp
Xtemp_S=Xtemp.multiply(Xtemp)

Xtemp_S.columns = [str(col) + '_Squared' for col in Xtemp_S.columns]

In [75]:
X3=pd.concat([X2,Xtemp,Xtemp_S],axis=1)

In [78]:
finData=pd.concat([X3,Y],axis=1)

In [79]:
finData.to_csv('./height_data_transformed.csv', index = False)

In [84]:
X4=pd.concat([X,Xtemp,Y],axis=1)

In [92]:
X4=X4.dropna()

In [93]:
X4.to_csv('./height_data_transformed_no_squares.csv', index = False)